{% capture content %}
<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  {% include 'kiwiSizing' %}
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.shop_bg_color }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%}{%- endif -%}
  <title>{%- if template contains "index" -%}{{ page_title }}{%- else -%}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{%- endif -%}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

  <!-- DNS prefetches -->
  <link rel="dns-prefetch" href="https://cdn.shopify.com">
  <link rel="dns-prefetch" href="https://fonts.shopify.com">
  <link rel="dns-prefetch" href="https://monorail-edge.shopifysvc.com">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">

  {% if settings.enable_shopify_review_comments %}
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
  {% endif %}

  <!-- Preconnects -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
  <link rel="preconnect" href="https://ajax.googleapis.com">

  {% if settings.enable_shopify_review_comments %}
    <link rel="preconnect" href="https://productreviews.shopifycdn.com">
  {% endif %}

  <!-- Preloads -->
  <!-- Preload CSS -->
  <link rel="preload" href="{{ 'fancybox.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style">

  <!-- Preload JS -->
  <link rel="preload" href="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" as="script">
  <link rel="preload" href="{{ 'vendors.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'utilities.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'app.js' | asset_url }}" as="script">

  {% if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 %}
    <link rel="preload" href="/services/javascripts/currencies.js" as="script">
    <link rel="preload" href="{{ 'currencyConversion.js' | asset_url }}" as="script">
  {% endif %}

  {% if settings.enable_shipping_calculator and template contains 'cart' %}
    <link rel="preload" href="{{ 'shopify_common.js' | shopify_asset_url }}" as="script">
    <link rel="preload" href="{{ 'api.jquery.js' | shopify_asset_url }}" as="script">
    <link rel="preload" href="{{ 'countries.js' | shopify_asset_url }}" as="script">
  {% endif %}

  {%- if template.directory == 'customers' -%}
  <link rel="preload" href="{{ 'shopify_common.js' | shopify_asset_url }}" as="script">
  <link rel="preload" href="{{ 'customer_area.js' | shopify_asset_url }}" as="script">
  {%- endif -%}

  {% if settings.disqus_enabled %}
    {% if template contains "blog" or template contains "article" or template contains "index" %}
      <link rel="preload" href="//{{ settings.disqus_shortname }}.disqus.com/count.js" as="script">
    {% endif %}
  {% endif %}

  <!-- CSS for Flex -->
  <link rel="stylesheet" href="{{ 'fancybox.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'styles.css' | asset_url }}">

  {% comment %}Inject theme-object begin{% endcomment %}
  <script>
    window.Theme = window.Theme || {};
    window.Theme.version = '2.1.0';
    window.Theme.name = 'Flex';
  </script>
  {% comment %}Inject theme-object end{% endcomment %}


<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script> -->
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="{{ 'vendors.js' | asset_url }}" defer></script>
  <script src="{{ 'utilities.js' | asset_url }}" defer></script>
  <script src="{{ 'app.js' | asset_url }}" defer></script>

  {%- if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 -%}
    <script type="text/javascript" src="/services/javascripts/currencies.js"></script>
    <script src="{{ 'currencyConversion.js' | asset_url }}" defer></script>
  {%- endif -%}

  <script>
    {% render 'js-variables' %}
  </script>

  {%- if settings.enable_shipping_calculator and template contains "cart" -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'api.jquery.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'countries.js' | shopify_asset_url }}" defer></script>
  {%- endif -%}

  {%- if template.directory == 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
  {%- endif -%}

  {% if settings.disqus_enabled %}
    {% if template contains "blog" or template contains "article" or template contains "index" %}
      <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
    {% endif %}
  {% endif %}

  <noscript>
    <style>
      /* Insert styles for styles when JS is not loaded */

      .noscript {
        display: block;
      }

    </style>
  </noscript>
  <style>
    .essential_countdown_annoucement_bar_wrapper {
      font-family: "ITC Johnston";
    }
    #countdown_annoucement_bar_title_cl59y1pzp3390551qrvvp3rfcjm {
      text-align: center !important;
    }
    .countdown_annoucement_bar_wrapper_cl59y1pzp3390551qrvvp3rfcjm div:nth-child(2)  {
      display: none !important;
    }
    .countdown_timer_wrapper_cl5h7wyy23529711qvyh1p50zf6, .countdown_timer_wrapper_cl5i8uzfc2208111atmy3rtegru {
      font-family: "ITC Johnston";
    }
  </style>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
  {%- endif -%}

  {%- if settings.favicon != nil -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
    <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
  {%- else -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {%- endif -%}

  





  <!-- Avada Email Marketing Script -->
 {% include 'avada-em-setting' %}
  <!-- /Avada Email Marketing Script -->

{{ content_for_header }}

  {% render 'social-meta-info' %}
  {% if collection.previous_product %}<link rel="prev" href="{{ collection.previous_product }}">{% endif %}
  {% if collection.next_product %}<link rel="next" href="{{ collection.next_product }}">{% endif %}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}
  {% render 'judgeme_core' %}

{% render 'gsf-conversion-pixels' %}
</head>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ routes.search_url }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}

<body
  class="
    {%- if template == '404' -%}
      error-404
    {% else -%}
      {{ template | replace: '.', '-' | handle }}
    {%- endif -%}
    {% if settings.header_layout == 'vertical' -%}
      has-vertical-header
    {%- endif -%}
  "
  data-money-format="
    {%- if settings.currency_format == 'money_with_currency_format' -%}
      {{ shop.money_with_currency_format | strip_html }}
    {%- else -%}
      {{ shop.money_format | strip_html }}
    {%- endif -%}
  "
  data-shop-url="{{ shop.url }}"
  data-current-lang="{{ request.locale.iso_code }}"
>
  <script>!function(){window.SLIDECART=!0;window.SLIDECART_FORMAT='{{shop.money_format}}';var e="https://cdn.jsdelivr.net/gh/apphq/slidecart-dist@master/slidecarthq.js?"+(new Date).getTime(),t=document.createElement("script");t.type="text/javascript",t.src=e,document.querySelector("body").appendChild(t)}();</script>
  
  {%- if settings.show_announcement_bar -%}
    {% section 'announcement-bar' %}
  {%- endif -%}

  {%- if settings.header_layout == "classic" -%}
    {% section 'header__top-bar' %}
    {% section 'header-classic' %}
  {%- elsif settings.header_layout == "centered" -%}
    {% section 'header-centered__top-bar' %}
    {% section 'header-centered' %}
  {%- elsif settings.header_layout == "vertical" -%}
    {% section 'header-vertical' %}
  {%- elsif settings.header_layout == "search_focus" -%}
    {% section 'header__top-bar' %}
    {% section 'header-search-focus' %}
  {%- endif -%}

  {%- if settings.cart_action == 'drawer' -%}
    {% render 'ajax-cart' %}
  {%- endif -%}

  {% if settings.mega_menu_1 == true %}
    {% section 'mega-menu-1' %}
  {% endif %}
  {% if settings.mega_menu_2 == true %}
    {% section 'mega-menu-2' %}
  {% endif %}
  {% if settings.mega_menu_3 == true %}
    {% section 'mega-menu-3' %}
  {% endif %}
  {% if settings.mega_menu_4 == true %}
    {% section 'mega-menu-4' %}
  {% endif %}
  {% if settings.mega_menu_5 == true %}
    {% section 'mega-menu-5' %}
  {% endif %}
  {% if settings.mega_menu_6 == true %}
    {% section 'mega-menu-6' %}
  {% endif %}
  {% if settings.mega_menu_7 == true %}
    {% section 'mega-menu-7' %}
  {% endif %}
  {% if settings.mega_menu_8 == true %}
    {% section 'mega-menu-8' %}
  {% endif %}
  {% if settings.mega_menu_9 == true %}
    {% section 'mega-menu-9' %}
  {% endif %}
  {% if settings.mega_menu_10 == true %}
    {% section 'mega-menu-10' %}
  {% endif %}

  {% if settings.header_layout == "vertical" %}
    <div class="is-beside-vertical-header">
  {% endif %}

  {{ content_for_layout }}

  {% if settings.footer_layout == "centered" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-centered' %}
  {% elsif settings.footer_layout == "classic" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-classic' %}
  {% elsif settings.footer_layout == "promotional" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-promotional' %}
  {% endif %}

  {% if settings.header_layout == "vertical" %}
    </div>
  {% endif %}

  <script src="//cdn.codeblackbelt.com/js/modules/also-bought/main.min.js?shop=peachie-speechie.myshopify.com" defer></script>

  {% if settings.show_fixed_message %}
    {% section 'fixed-message' %}
  {% endif %}

  {% if settings.enable_quickshop %}
    {% render 'quick-shop' %}
  {% endif %}

  {% if settings.search_display_style == 'popup' %}
    {% render 'search-popup' %}
  {% endif %}

  {% if settings.show_popup %}
    {% section 'popup' %}
  {% endif %}

  {% render 'mobile-search' %}

  {% render 'app_wishlist-king' %}
   {% include 'smile-initializer' %}
  
<!-- appHQ : SlideCart Edits -->
<style>
    .customEmptyCart {
        display: block !important
    }

    .customEmptyCart__innerContent {
        padding: 1.2rem;
    }

    #slidecarthq .empty {
        color: #868785;
        position: absolute;
        width: 100%;
        top: 91px;
        bottom: 0;
    }

    .customEmptyCart__headerTitle {
        font-size: 1.7rem;
        font-weight: 700;
        color: black;
    }

    .customEmptyCart__headerLead {
        font-size: 1.1rem;
        font-weight: 400;
        color: black;
      padding-bottom: 30px;
    }

    .customEmptyCart__buttons {
        display: flex !important;
        gap: 1rem;
        flex-wrap: wrap;
        margin-top: 1.2rem;
    }

    a.customEmptyCart__button {
        display: block;
        padding: 0.5rem 1rem;
        background: #67b857;
        width: 100%;
        border-radius: 25px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
      background-color: black;
}
a.customEmptyCart__button:hover
{ background-color: #67B857;
  transition: all 300ms ease;
    }

    #slidecarthq .quantity-selector button:first-of-type {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    #slidecarthq .quantity-selector button:last-of-type {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    #slidecarthq .upsell-add button, #slidecarthq .upsell-options select {
        border-radius: 50px !important;
    }

    #slidecarthq .footer .button, #slidecarthq .upsell-options button {
        border-radius: 55px !important;
    }
</style>
<!-- END appHQ : SlideCart Edits -->
  
<script src="https://cdn.static.kiwisizing.com/SizingPlugin.prod.js?v=308&shop=peachie-speechie.myshopify.com"></script>
</body>
</html>
{% endcapture %}
{% assign content = content | replace_first: '<!doctype', '!doctype' | split: ' <' %}
{%- for html in content -%}{%- assign htmlblock = html | strip | prepend: ' <' -%}{{htmlblock | replace: ' </', '</'}}{%- endfor -%}